* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets-container {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.pet-card {
    background-color: #ffffff;
    width: 300px;
    padding: 35px 25px;
    border-radius: 26px;
    text-align: center;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
    transition: 0.4s ease;
}

.pet-card:hover {
    transform: translateY(-12px) scale(1.04);
}

.pet-card img {
    width: 170px;
    height: 170px;
    border-radius: 22px;
    object-fit: cover;
    margin-bottom: 22px;
    transition: 0.4s;
}

.pet-card:hover img {
    transform: scale(1.08);
}

.pet-card h3 {
    color: #4a6fa5;
    font-size: 22px;
    margin-bottom: 22px;
}

.pet-card button {
    background-color: #e3f0fb;
    border: none;
    padding: 14px 42px;
    border-radius: 30px;
    color: #4a6fa5;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.pet-card button:hover {
    background-color: #cfe4f7;
    transform: translateY(-2px);
}
