* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(
            rgba(108, 127, 139, 0.55),
            rgba(216, 207, 196, 0.55)
        ),
        url("pets.jpg");

    background-size: cover;
    background-position: center;
}
.login-card {
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(16px);         

    width: 90%;
    max-width: 460px;   
    padding: 50px;      

    border-radius: 24px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    text-align: center;
    margin-top:100px
}
.login-card h2 {
    color: #4F6472;
    font-size: 26px;   
    margin-bottom: 12px;
}


.login-card p {
    font-size: 15px;
    color: #555;
    margin-bottom: 30px;
}
.login-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;

    border-radius: 14px;
    border: 1px solid #D8CFC4;
    outline: none;

    font-size: 14px;
}
.login-card button {
    width: 100%;
    padding: 14px;

    background: #6C7F8B;
    color: white;
    border: none;
    border-radius: 16px;

    font-size: 15px;
    cursor: pointer;

    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.login-card button:hover {
    background: #4F6472;
}
.login-card a {
    display: block;
    margin-top: 24px;

    color: #4F6472;
    text-decoration: none;
    font-size: 14px;
}
.login-card a:hover {
    text-decoration: underline;
}
